---
import MainLayout from "../layouts/MainLayout.astro";
const name = "Bryan lopez Sanchez";
---
<MainLayout title="Home Page">
    <h1>{name}</h1>
    <p>Momento actual: {new Date().toLocaleTimeString()}</p>
    <p id="current-time"></p>
</MainLayout>

<script>
  const currentTimeParagraph = document.querySelector("#current-time") as HTMLParagraphElement;
  currentTimeParagraph.innerText = `Hora actual: ${new Date().toLocaleTimeString()}`
</script>
